/* General Styles for AMO Ministry */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.bg-light .p-4 {
    padding: 30px;
}

h1, h2, h3, h4 {
    color: #343a40;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 15px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    max-width: 1200px;
}

/* Button Styles */
.btn-primary, .btn-success {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover, .btn-success:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Responsive Design */
@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }

    .card-img-top {
        height: 150px;
    }

    .btn {
        width: 100%;
    }
}
